<h1>Editing part <%= @part.id %></h1>

<%= render 'form' %>

<button class="btn btn-info"><%= link_to 'Show', @part %></button> |
<button class="btn btn-info"><%= link_to 'Back', parts_path %></button>
