<!-- <%= "index.html" %> -->

<div class="hero-unit">
  <h1>Welcome to Joe's Warehouse Application!</h1>
  <br>
  <p>
    Please take a look around and have fun!  If you have any questions or need help finding something, just let me know!
  </p>
</div>