<h1>Editing supplier <%= @supplier.id %></h1>

<%= render 'form' %>

<button class="btn btn-info"><%= link_to 'Show', @supplier %></button> |
<button class="btn btn-info"><%= link_to 'Back', suppliers_path %></button>
