<h1>Editing shipment <%= @shipment.id %></h1>

<%= render 'form' %>

<button class="btn btn-info"><%= link_to 'Show', @shipment %></button> |
<button class="btn btn-info"><%= link_to 'Back', shipments_path %></button>
